.App {
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: rgb(255, 51, 0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px;
  border-style: solid;
  border-color: rgb(251, 255, 0);
}

.App-link {
  color: #61dafb;
}

.Card {
  border: 1px;
  border-style: solid;
  border-color: black;
}

.splitscreen {
  border: 1px;
  border-style: solid;
  border-color: blue;
  display: flex;
}

.outerMost {
  border: 1px;
  border-style: solid;
  border-color: rgb(0, 255, 98);
}

.splitscreen .left {
  flex: 1;
  padding: 5%;
}
.splitscreen .right {
  flex: 1;
  padding: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
