.App {
  text-align: center;
  /* border: 1px;
  border-style: solid;
  border-color: rgb(255, 51, 0); */
  font-size: calc(1px + 2vmin);
}

.App-logo {
  height: 20vmin;
  width: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    max-width: 50vmin;
    max-height: 50vmin;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.App-header {
  background-color: rgb(25, 84, 139);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
  /* border: 1px;
  border-style: solid;
  border-color: rgb(251, 255, 0); */
}

.App-body {
  background-color: #647597;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Card {
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 30px;
  position: relative;
  background-image: url("./Parchment.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ErrorMessage {
  color: darkred;
  font-size: calc(5px + 1vmin);
  font-weight: bold;
}

.bsplitscreen {
  display: flex;
}

.bsplitscreen .left {
  flex: 1;
  position: relative;
  max-width: 50%;
  padding-left: 10%;
}
.bsplitscreen .right {
  flex: 1;
  position: relative;
  max-width: 50%;
  padding-right: 10%;
}

.splitscreen {
  /* border: 1px;
  border-style: solid;
  border-color: blue; */
  display: flex;
  flex-flow: wrap;
}

/* .outerMost {
  border: 1px;
  border-style: solid;
  border-color: rgb(0, 255, 98);
  height: max-content;
} */

.splitscreen .left {
  flex: 1;
  max-width: 50%;
  padding: 10%;
}
.splitscreen .right {
  flex: 1;
  max-width: 50%;
  padding: 10%;
}

input,
p {
  font-size: calc(5px + 2vmin);
}

@keyframes App-logo-spin {
  0% {
    transform: translate(0px) rotate(0deg);
  }
  25% {
    transform: translateX(-40vw) rotate(90deg);
    filter: invert(50%) blur(3px);
  }
  50% {
    transform: translate(0px) rotate(180deg);
    filter: invert(100%) blur(6px);
  }
  75% {
    transform: translate(40vw) rotate(270deg);
    filter: invert(50%) blur(3px);
  }
  100% {
    transform: translate(0px) rotate(360deg);
  }
}
