.App {
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: rgb(255, 51, 0);
}

.App-logo {
  height: 20vmin;
  width: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    max-width: 50vmin;
    max-height: 50vmin;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.App-header {
  background-color: rgb(25, 84, 139);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px;
  border-style: solid;
  border-color: rgb(251, 255, 0);
}

.App-body {
  background-color: #647597;
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #61dafb;
}

.Card {
  border: 1px;
  border-style: solid;
  border-color: black;
}

.ErrorMessage {
  color: darkred;
  font-size: calc(5px + 1vmin);
  font-weight: bold;
}

.splitscreen {
  border: 1px;
  border-style: solid;
  border-color: blue;
  display: flex;
}

.outerMost {
  border: 1px;
  border-style: solid;
  border-color: rgb(0, 255, 98);
}

.splitscreen .left {
  flex: 1;
  padding: 5%;
}
.splitscreen .right {
  flex: 1;
  padding: 5%;
}

@keyframes App-logo-spin {
  0% {
    transform: translate(0px) rotate(0deg);
  }
  25% {
    transform: translateX(-42vw) rotate(90deg);
    filter: invert(50%) blur(3px);
  }
  50% {
    transform: translate(0px) rotate(180deg);
    filter: invert(100%) blur(6px);
  }
  75% {
    transform: translate(42vw) rotate(270deg);
    filter: invert(50%) blur(3px);
  }
  100% {
    transform: translate(0px) rotate(360deg);
  }
}
